.toolbar {
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  height: 60px;
}

.toolbar__navigation {
  align-content: center;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0;
}

.toolbar__logo {
  
}

.toolbar__logo a {
  color: rgb(121, 121, 121);
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.toolbar_navigation-items li {
  
  
}

.toolbar_navigation-items {
  margin-right: 1rem;

  
}

.toolbar_navigation-items a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0 1rem;
  
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #9c9c9c;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 1rem;
  }
}
